<form method="post" action="api/insert" enctype="content-type:application/json; charset=UTF-8">
<input id="search" type="text" name="search" placeholder="    Search Events" style="height: 25px; width: 300px">

    <div>

        <input id="eventTitle" type="text" name="eventTitle" placeholder="eventTitle" style="height: 25px; width: 300px"><br>
        <input id="description" type="text" name="description" placeholder="name" description="description" style="height: 25px; width: 300px"><br>
        <input id="location" type="text" name="location" placeholder="location"  description="location" style="height: 25px; width: 300px"><br>
        <input id="dateTime" type="text" name="dateTime" placeholder="dateTime" description="dateTime" style="height: 25px; width: 300px"><br>
        <input id="duration" type="number" name="duration" placeholder="duration" description="duration" style="height: 25px; width: 300px"><br>
        <input id="price" type="number" name="price" placeholder="price" description="price" style="height: 25px; width: 300px"><br>
        <input id="isPublic" type="text" name="isPublic" placeholder="isPublic" style="height: 25px; width: 300px"><br>
        <input id="maxAttending" type="text" name="maxAttending" placeholder="maxAttending"  style="height: 25px; width: 300px"><br>
    </div>

    <input id="btnSearch" type="button" value="Insert" onclick="this.form.submit()" style="height: 25px !important;">

</form>
